.container {
    height: inherit;
    width: inherit;
    margin: unset;
    outline: unset;
    word-break: break-word;
    white-space: break-spaces;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
}


.container span.key {
    color: greenyellow
}

.container span.event {
    color: crimson
}