@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono'), url('../public/assets/ubuntu_mono.ttf') format('ttf');
}

body {
    margin: unset;
    height: 100vh;
    width: 100vw;

    font-size: 1em;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    line-height: 19px;
    
    background-color: #1e1e1e;
    color: white;

    > #root {
        height: inherit;
        width: inherit;
    }
}
